@font-face {
    font-family: 'Halis R Book';
    src: url('fonts/HalisR-Book.eot');
    src: url('fonts/HalisR-Book.eot?#iefix') format('embedded-opentype'),
        url('fonts/HalisR-Book.woff2') format('woff2'),
        url('fonts/HalisR-Book.woff') format('woff'),
        url('fonts/HalisR-Book.svg#HalisR-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Halis R';
    src: url('fonts/HalisR-Bold.eot');
    src: url('fonts/HalisR-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/HalisR-Bold.woff2') format('woff2'),
        url('fonts/HalisR-Bold.woff') format('woff'),
        url('fonts/HalisR-Bold.svg#HalisR-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Halis R';
    src: url('fonts/HalisR-Regular.eot');
    src: url('fonts/HalisR-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/HalisR-Regular.woff2') format('woff2'),
        url('fonts/HalisR-Regular.woff') format('woff'),
        url('fonts/HalisR-Regular.svg#HalisR-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Halis R';
    src: url('fonts/HalisR-Medium.eot');
    src: url('fonts/HalisR-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/HalisR-Medium.woff2') format('woff2'),
        url('fonts/HalisR-Medium.woff') format('woff'),
        url('fonts/HalisR-Medium.svg#HalisR-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Halis R';
    src: url('fonts/HalisR-Light.eot');
    src: url('fonts/HalisR-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/HalisR-Light.woff2') format('woff2'),
        url('fonts/HalisR-Light.woff') format('woff'),
        url('fonts/HalisR-Light.svg#HalisR-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Halis R';
    src: url('fonts/HalisR-Thin.eot');
    src: url('fonts/HalisR-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/HalisR-Thin.woff2') format('woff2'),
        url('fonts/HalisR-Thin.woff') format('woff'),
        url('fonts/HalisR-Thin.svg#HalisR-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Halis R';
    src: url('fonts/HalisR-ExtraLight.eot');
    src: url('fonts/HalisR-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/HalisR-ExtraLight.woff2') format('woff2'),
        url('fonts/HalisR-ExtraLight.woff') format('woff'),
        url('fonts/HalisR-ExtraLight.svg#HalisR-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Halis R';
    src: url('fonts/HalisR-Black.eot');
    src: url('fonts/HalisR-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/HalisR-Black.woff2') format('woff2'),
        url('fonts/HalisR-Black.woff') format('woff'),
        url('fonts/HalisR-Black.svg#HalisR-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

